<div class="md:container md:mx-auto">
    <div class="bg-local md:bg-fixed h-56" style="background-image: url('https://picsum.photos/200/300')">
        <div class="text-yellow-100 h-56 block text-center relative" style="top:75px;bottom:75px;"><b
                class="text-3xl ">Lorem
                Ipsum</b>
            <p class="text-white-600 text-1xl text-center md:w-2/4 mx-auto sm:w-full">Lorem Ipsum
                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a
                type specimen book</p>
        </div>

    </div>
    <div class="flex flex-row p-10 flex-wrap ">
        <div class="p-1 flex-shrink-0 flex-grow-0" style="flex-basis: 33%;">
            <div class="p-5 text-center border border-solid rounded-lg">
                <img src="https://picsum.photos/300/100" class="m-auto" />
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="p-1 flex-shrink-0 flex-grow-0" style="flex-basis: 33%;">
            <div class="p-5 text-center border border-solid rounded-lg">
                <img src="https://picsum.photos/300/100" class="m-auto" />
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="p-1 flex-shrink-0 flex-grow-0" style="flex-basis: 33%;">
            <div class="p-5 text-center border border-solid rounded-lg">
                <img src="https://picsum.photos/300/100" class="m-auto" />
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="p-1 flex-shrink-0 flex-grow-0 " style="flex-basis: 33%;">
            <div class="p-5 text-center border border-solid rounded-lg">
                <img src="https://picsum.photos/300/100" class="m-auto" />
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="p-1 flex-shrink-0 flex-grow-0 " style="flex-basis: 33%;">
            <div class="p-5 text-center border border-solid rounded-lg">
                <img src="https://picsum.photos/300/100" class="m-auto" />
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="p-1 flex-shrink-0 flex-grow-0 " style="flex-basis: 33%;">
            <div class="p-5 text-center border border-solid rounded-lg">
                <img src="https://picsum.photos/300/100" class="m-auto" />
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                    the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</div>